/********** 

/********** Template CSS **********/
:root {
  --primary: #5fbf05;
  --light: #EFF5FF;
  --dark: #1A2A36; 
}


.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  color:#e70909;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn-primary,
.btn-outline-primary:hover {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Control ***/
.control .button {
  width: 32px;
  height: 20px;
  display: transparent;
}


/*** Navbar ***/
  .navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
  }
  
  .navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
  }
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
  }
  
  @media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
  
    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
  }
  
  .navbar .navbar-brand,
  .navbar a.btn {
    height: 75px;
  }
  
  .navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
  }
  
  .navbar.sticky-top {
    top: -100px;
    transition: .5s;
  }
  
  @media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
  
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
  }


  /*** Header Logo ***/
  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    top: 10px;
  }
  
  #header.header-scrolled {
    top: 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  }
  
  #header .logo {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #413e66;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }
  
  
  /*** Nav Menu ***/
  .main-nav, .main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
    padding-left: 30px;
  }
  
  .main-nav a {
    display: block;
    position: relative;
    color: #e70909;
    padding: 10px 0;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
    color: #3af14a;
    text-decoration: none;
  }
  
  .main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 15px;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .main-nav .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .main-nav .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #3af14a;
  }
  
  .main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
    color: #3af14a;
  }
  
  .main-nav .drop-down > a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
  }
  
  .main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .main-nav .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .main-nav .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .main-nav .drop-down .drop-down > a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
  }
  
  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(40, 38, 70, 0.8);
    transition: 0.4s;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #3af14a;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\f077";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #e70909;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  #main {
    padding-top: 60px;
  }

  /* Carousel Slider */

  #fullCoverCarousel {
    background-color:#1A2A36;
  }

  .carousel-item {
    height: 100vh;
    position: relative;
  }

  .carousel-item img {
    object-fit: cover;
    height: 100vh;
    width: 100%;  
  }

  .carousel-caption {
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .carousel-caption .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3af14a;
  }

  /* Custom control buttons */
  .custom-control {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .custom-control i {
    font-size: 20px;
    color: white; 
  }

  /* Position the controls properly */
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #3af14a;
    border: none;
  }

  
  /*** About ***/
  .about {
    padding-top: 40px;
    background-color: #1A2A36;
    color: white;
  }

  .about .d-inline-block {
    background-color: #3af14a;
  }

  .about .fa {
    color: #3af14a;
  }

  .about .btn {
    background-color: #3af14a;
    border-color: #3af14a;
  }
  
  .about .btn:hover {
    background-color:#e70909;
    border-color: white;
  }

  
  /*** Service ***/
  .service {
    padding-top: 40px;
    background-color:aliceblue;
  }

  .service .d-inline-block {
    background-color: #3af14a;
  }

  .service-item {
    transition: .5s;
  }
  
  .service-item:hover {
    margin-top: -10px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
  }
  
  .service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
  }

  .service-item .fa {
    color: #3af14a;
  }
  
  .service-item:hover .btn {
    width: 140px;
    background-color:#e70909;
  }
  
  
  /*** Feature ***/
  @media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }
  
    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
  }
  
  @media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
  }
  
  @media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
  }
  .feature {
    background-color: #3af14a;
  }

  .feature .row {
    background-color: #1A2A36;
  }
  
  .feature .d-inline-block {
    background-color: #3af14a;
  }

  .feature .fa {
    color: #3af14a;
  }

  
  /*** Shop ***/
  .shop {
    background-color: aliceblue;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .shop .d-inline-block {
    background-color: #3af14a;
  }

  .shop .team-text {
    height: 200px;
  }
  
  /*** Shop-Team ***/
  .team-item img {
    position: relative;
    top: 0;
    transition: .5s;
  }
  
  .team-item:hover img {
    top: -30px;
  }
  
  .team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
  }
  
  .team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
  }
  
  .team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
  }
  
  .team-item:hover .team-text .team-social {
    opacity: 1;
  }
  

  /*** Contact ***/
  .contact {
    background-color: #1A2A36;
    color:#FFFFFF;
    padding-top: 40px;
  }

  .contact .d-inline-block {
    background-color: #3af14a;
  }

  .contact .bg-light {
    color: black;
  }

  .contact .bg-light i {
    color:#3af14a;
  }

  .contact .bg-light button {
    background-color: #3af14a;
    border: none;
  }

  .contact .social-link {
    font-size: 18px;
    display: inline-block;
    background:#e70909;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  .contact .social-link i {
    text-align: center;
    position:relative;
  }


  #footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f5f8fd;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #535074;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #e70909;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #3af14a;
    color: #fff;
  }
  
  @media (max-width: 574px) {
    #footer .footer-top .social-links a {
      margin-bottom: 25px;
    }
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 8px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #696592;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #1bb1dc;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border: 1px solid #d9dde6;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #1bb1dc;
    border: 1px solid #1bb1dc;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0a98c0;
  }
  
  #footer .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  #footer .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #footer .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  #footer .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #footer .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #footer .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #footer .php-email-form input, #footer .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dce1ec;
    font-size: 14px;
  }
  
  #footer .php-email-form input::focus, #footer .php-email-form textarea::focus {
    background-color: #1bb1dc;
  }
  
  #footer .php-email-form input {
    padding: 20px 15px;
  }
  
  #footer .php-email-form textarea {
    padding: 12px 15px;
  }
  
  #footer .php-email-form button[type="submit"] {
    background: #1bb1dc;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
  }
  
  #footer .php-email-form button[type="submit"]:hover {
    background: #0a98c0;
    cursor: pointer;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
  }
  
  #footer .credits a {
    color: #3af14a;
  }
  
  #footer .credits a:hover {
    color: #3af14a;
  }
  
